<header>
<nav class="grid-middle">
  <div class="col-2 no-padding">
    <img class="logo" src="/images/ghan-logo.png" alt="Time Travel Turtle">
  </div>
    <div class="col-2 no-padding"  data-push-left="off-2">
      <a href="/index.html"> Home </a>
    </div>
    <div class="col-2">
      <a href="/journey.html"> The Journey </a>
    </div>
    <div class="col-2">
      <a href="/stops.html">The Stops</a>
    </div>
    <div class="col-2">
      <a href="/podcast.html">Podcast</a>
    </div>
  </nav>
</header>
