<footer class="grid-middle">

  <!-- Column 1 -->
  <div class="col-3_sm-2_xs-0 footer-shape">
      <svg viewBox="0 0 100 25">
        <polygon points="0,0 100,0 95,25 0,25"/>
      </svg>
  </div>

  <!-- Column 2 -->
  <div class="col-6_sm-8_xs-12 centered">
    <nav>
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-google-plus-square"></i>
      <i class="fa fa-pinterest-square"></i>
      <i class="fa fa-rss-square"></i>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-2_xs-0 footer-shape">
      <svg viewBox="0 0 100 25">
        <polygon points="5,0 100,0 100,25 0,25"/>
      </svg>
  </div>

</footer>
